.account-form {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .account-form h2{
    margin-top: 0;
  }
  
  .account-form label{
    display: block;
    margin-bottom: 5px;
  }
  
  .account-form input[type="text"],
  .account-form input[type="email"],
  .account-form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .account-form form:nth-child(2) button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .account-form form:nth-child(2) button[type="submit"]:hover {
    background-color: #45a049;
  }

  .account-form form:nth-child(3) button[type="submit"] {
    background-color: red;
    text-align: center;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .account-form form:nth-child(3) button[type="submit"]:hover {
    background-color: red;
  }
  