p {
    font-size: 18px;
}

.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}


.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}

.table-sql-view {
    margin-left: 50px;
}

.border-black > thead > tr > th {
    border:1px solid black;
}

.border-black-td > tbody > tr > td {
    border: 1px solid black !important;
}
  
.table-hlimit {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

